In [80]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [81]:
test_df = pd.read_csv('./data/test.csv')
train_df = pd.read_csv('./data/train.csv')

In [82]:
test_df.drop(['Name', 'Cabin', 'Ticket'], axis=1, inplace=True)
train_df.drop(['Name', 'Cabin', 'Ticket', 'PassengerId'], axis=1, inplace=True)
test_df.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [83]:
test_df = pd.get_dummies(test_df)
train_df = pd.get_dummies(train_df)

In [84]:
test_df.head()

,PassengerId,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,892,3,34.5,0,0,7.8292,0,1,0,1,0
1,893,3,47.0,1,0,7.0000,1,0,0,0,1
2,894,2,62.0,0,0,9.6875,0,1,0,1,0
3,895,3,27.0,0,0,8.6625,0,1,0,0,1
4,896,3,22.0,1,1,12.2875,1,0,0,0,1

In [85]:
print(train_df.info())
print("-----------------------------------")
print(test_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
Survived      891 non-null int64
Pclass        891 non-null int64
Age           714 non-null float64
SibSp         891 non-null int64
Parch         891 non-null int64
Fare          891 non-null float64
Sex_female    891 non-null uint8
Sex_male      891 non-null uint8
Embarked_C    891 non-null uint8
Embarked_Q    891 non-null uint8
Embarked_S    891 non-null uint8
dtypes: float64(2), int64(4), uint8(5)
memory usage: 46.2 KB
None
-----------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Fare           417 non-null float64
Sex_female     418 non-null uint8
Sex_male       418 non-null uint8
Embarked_C     418 non-null uint8
Embarked_Q     418 non-null uint8
Embarked_S     418 non-null uint8
dtypes: float64(2), int64(4), uint8(5)
memory usage: 21.7 KB
None

Check if gender plays a role in survival

In [86]:
total_age, row_count = 0, 0
total_age += train_df.Age.sum()
total_age += test_df.Age.sum()
row_count += train_df.Age.count()
row_count += test_df.Age.count()
avg_age = float(total_age)/row_count
print("Avg Age:", avg_age)

Avg Age: 29.881137667304014

In [87]:
total_fare, row_count = 0, 0
total_fare += train_df.Fare.sum()
total_fare += test_df.Fare.sum()
row_count += train_df.Fare.count()
row_count += test_df.Fare.count()
avg_fare = float(total_fare)/row_count
print("Avg Fare:",avg_fare)

Avg Fare: 33.29547928134553

In [88]:
test_df.Age.fillna(avg_age, inplace=True)
train_df.Age.fillna(avg_age, inplace=True)
test_df.Fare.fillna(avg_fare, inplace=True)
train_df.Fare.fillna(avg_fare, inplace=True)

test_data = test_df
train_data = train_df

In [89]:
train_y = train_df.pop('Survived')

In [90]:
from sklearn import svm
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)
clf.fit(train_df.values, train_y.values)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=100, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [91]:
test_passengerId = test_df.pop('PassengerId')
predicted = clf.predict(test_df.values)
output = pd.DataFrame(test_passengerId.values)
output["Survived"] = predicted
output.columns = ['PassengerId','Survived']
output.to_csv('./data/submit_v5.csv', index=False)

In [92]:
output = pd.DataFrame(test_passengerId.values)
output['Survived'] = predicted

In [94]:
train_data.head()

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
0,3,22.0,1,0,7.2500,0,1,0,0,1
1,1,38.0,1,0,71.2833,1,0,1,0,0
2,3,26.0,0,0,7.9250,1,0,0,0,1
3,1,35.0,1,0,53.1000,1,0,0,0,1
4,3,35.0,0,0,8.0500,0,1,0,0,1

In [ ]:
clf.